.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  @extend .flex;
  align-items: center;
}
.flex-center-between {
  @extend .flex-center;
  justify-content: space-between;
}
